---
import config from "@util/themeConfig";
import BulletCard from "./BulletCard.astro";
import RectangleCard from "./RectangleCard.astro";
import SmallHorizontalCard from "./SmallHorizontalCard.astro";

const { item } = Astro.props;

const enabled = config.directoryUI.grid.card.image;

const type = config.directoryUI.grid.type;

// Create data-tags attribute for filtering
const tagsString = Array.isArray(item.data.tags) ? item.data.tags.join(',') : '';

const myItem = {
  ...item,
  ...item.data,
};

const href = config.directoryData?.source?.linksOutbound
  ? myItem.link
  : `/${myItem.id}`;
---

<div
  class="listing"
  transition:name={`${myItem.id}-card`}
  data-tags={tagsString}
>
  {
    type === "rectangle-card-grid" && enabled ? (
      <RectangleCard myItem={myItem} href={href} />
    ) : type === "small-card-grid" && enabled ? (
      <SmallHorizontalCard myItem={myItem} href={href} />
    ) : (
      <RectangleCard myItem={myItem} href={href} />
    )
  }
</div>
